---
import Badge from "./Badge.astro";
import Bag from "@/icons/Bag.astro";
import { jobs } from "@/utils/consts";
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    jobs.map((job, index) => (
      <li class={`ms-6 ${index !== jobs.length - 1 && "mb-10 "}`}>
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-custom-blue-400 dark:ring-custom-blue-500 dark:bg-blue-900">
          <Bag />
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          {job.title}
          {job.current && (
            <span class="bg-custom-blue-400 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-custom-blue-600 dark:text-white ms-3">
              Current
            </span>
          )}
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-slate-700 dark:text-slate-400">
          {job.date}
        </time>
        <p class="mb-4 text-base font-normal text-slate-600 dark:text-slate-300">
          {job.description}
        </p>

        <ul class="ml-6 mb-4 list-disc">
          {job.activities?.map((activity) => (
            <li class="mb-1">{activity}</li>
          ))}
        </ul>
        {job.badges.map((badge) => (
          <Badge label={badge} />
        ))}
      </li>
    ))
  }
</ol>
